{{ import('css','footer.css','ext.widgets.views') }}
{{ import('js','jquery.balloon.js') }}

<script type="text/javascript">
footerWidget =
{
    contPos: false,
    prevCeils: 5,           // Предыдущее значение отображаемых ячеек

    init: function()
    {
        var self = this;
        self.contPos = $('#js-footer-cont-pos');

        self.contPos.css({
            'width': (app.gridWidth*5)+'px',
            'margin-left': '-'+Math.floor(app.gridWidth*5/2)+'px'
        })

        app.addListener(app.eventReposition, footerWidget.onResize);
        app.resize(true);
    },

    onResize: function( ev )
    {
        var ceils = ev.ceils;

        app.resizeElement( footerWidget.contPos, app.gridWidth * ceils );
    }
};
$(document).ready( function()
{
    $(function() {
        $('#js-address-block-map')
            .balloon({
                position: 'top',
                contents: $('#yandex-map').clone(),
            })
            .click( function() {
                return false;
            });
    });


    footerWidget.init();
});
</script>


<div class='footer-widget'>
    <div id='js-footer-cont-pos' class='footer-cont-pos'>

        <div class='footer-social-buttons  gridHeight2'>
            {{ widget('ext.widgets.social.SocialLikeButtonsWidget') }}
        </div>

        <div class='footer-cont'>
            <div class='gridHeight5 grid-top1'>

                <div id='copyright-block' class='grid16 left'>
                    <div class='grid-left2'>
                        <div class='footer-copyright'>&copy; 2012-2013 <a href='/'>SPHERE</a>ART</div>
                    </div>
                </div>
                <div id='contacts-block' class='grid16 left'>
                    <div class='grid-left2'>
                        <div class='grid3 left'>Пишите:</div><div class='contact-mail-block-info  grid7 left'><a class='contact-mail' href=''>info@sphereart.ru</a></div>
                        <div class='clear'></div>
                        <div class='grid3 left'>Звоните:</div><div class='contact-phone-block-info  grid7 left'><span class='contact-phone'>+7 961 763 07 99</span></div>
                    </div>
                </div>
                <div id='address-block' class='grid16 left'>
                    <div class='grid-left2'>
                        620078, Россия г. Екатеринбург, <br/>
                        <a href='#' id='js-address-block-map'>ул. Папанина 1</a>, 2 этаж. оф. 202
                    </div>
                </div>
                <div id='bottom-worktime-block' class='grid16 left'>
                    <div class='grid-left2'>
                        {{ widget('ext.widgets.ContentBlocksWidget', {'position':const('ContentBlocks', 'POS_FOOTER_WORKTIME')}) }}
                    </div>
                </div>
                <div id='bottom-menu-block' class='grid16 left'>
                    <div class='grid-left2'>
                        {{ widget('ext.widgets.FooterMenuWidget') }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style='display:none'>
<div id='yandex-map'>
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=rVy95O-FO9cLef5HKBQ2LTvM7Yoqwv8Q&width=600&height=450"></script>
</div>
</div>