{% block importBlock %}
    {{ import('css','menu.css') }}
    {{ import('css','leftMenu.css','ext.widgets.css') }}
{% endblock %}

<div class='left-menu-widget  vmenu'>
    <div class='left-menu-separator'></div>
    <ul>
        {% for item in items %}
            {% set active = item.select %}
            {% set posClass = (loop.first ? 'first' : '') ~ (loop.last ? ' last' : '') %}
            <li class='{{posClass}}'>
                <table><tr>
                    <td class='image'>
                        {% set w = const('MenuItem', 'IMAGE_W') %}
                        {% set h = const('MenuItem', 'IMAGE_H') %}

                        {% if item.iconUrl %}
                            <img src='{{ item.iconUrl }}' width="{{w}}px" height="{{h}}px">
                        {% else %}
                            <div style='width:{{w}}px; height:{{h}}px'></div>
                        {% endif %}
                    </td>
                    <td class='text'>
                        <a class='{% if active %}active{% endif %}' href='{{ item.link }}'>{{ item.name|raw }}</a>
                    </td>
                </tr></table>
                <div class='left-menu-separator'></div>
            </li>
        {% endfor %}
    </ul>
</div>