{{ import('css','mainMenu.css','ext.widgets.views') }}
{{ import('css','menu.css') }}

<div class='main-menu-widget  hmenu'>
    <ul>
        {% for item in items %}
            {% set link = static('CHtml', 'normalizeUrl', ['/'~item.link]) %}
            {% set active = item.select %}
            {% set first = loop.first %}
            {% set last = loop.last %}
            <li class='semibold border-cont {% if first %}first{% endif %} {% if last %}last{% endif %}'>
                {% if not last %}
                    <div class='border-r' style='background:#b2b2b2; height:10px; margin-top:4px'></div>
                {% endif %}
                <div class='border-b' style='background:#d9d9d9; height:2px;'></div>
                <a class='gridHeight2  {% if active %}border-cont select{% endif %}' href='{{ link }}'>
                    {% if active %}
                        <div class='border-b' style='background:#0f0f0f; height:2px; text-align:center;'>
                            <img width=9 height=7 src='{{ absLink('/img/menu-arrow.jpg') }}'>
                        </div>
                    {% endif %}
                    {{ item.name|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>