{{ import('css','mainWorks.css','ext.widgets.views') }}

<script type="text/javascript">

mainWorksWidget =
{
    workWidth: 792,         // Ширина изображения (18px*44)
    pageId: 1,
    pics: [],
    maxPages: 1,            // Максимальное количество страниц
    posCont: false,
    worksCont: false,
    leftArrow: false,
    rightArrow: false,

    init: function()
    {
        var self = this;
        self.posCont = $('#js-main-works-cont-pos');
        self.worksCont = $('#js-main-works-cont');
        self.leftArrow = $('#js-main-works-left-arrow');
        self.rightArrow = $('#js-main-works-right-arrow');

        {% for work in works %}
            self.pics.push( {'id':{{work.id}}, 'image':'{{work.image}}', 'title':'{{work.title}}', 'desc':'{{work.desc|raw}}', 'link':'{{work.link}}'} );
        {% endfor %}
        for (var i = 0; i < self.pics.length; i++)
        {
            self.pics[i].html = self.createImageHtml( i, self.pics[i] );
            self.worksCont.append( self.pics[i].html );
        };

        self.maxPages = self.pics.length;

        self.leftArrow
            .click(self.onLeft)
            .mouseenter(self.onLeftEnter)
            .mouseleave(self.onLeave);
        self.rightArrow
            .click(self.onRight)
            .mouseenter(self.onRightEnter)
            .mouseleave(self.onLeave);

        $('[id^="js-work"] #js-work-opacity-layer').each( function()
        {
            var el = $(this);
            el.mouseenter( function()
            {
                el.css('opacity', 0.6);
            })
            .mouseleave( function()
            {
                el.css('opacity', 0);
            });
        });
    },

    createImageHtml: function( idx, pict )
    {
        var self = this;
        var x = mainWorksWidget.workWidth * idx;
        var layerWidth = mainWorksWidget.workWidth;
        var html =  '<div id="js-work'+idx+'" style="position:absolute; left:'+x+'px; top:0px; width:'+layerWidth+'px; height:100%" data_id="'+pict.id+'">' +
                    '<table id="js-work-opacity-layer" class="main-works-opacity-layer" border=0 cellpadding=0 cellspacing=0><tr><td>' +
                        '<a href="' + pict.link + '">' +
                            '<div id="js-work-title" class="work-title">' + pict.title + '</div>' +
                            '<div id="js-work-desc" class="work-desc">' + pict.desc + '</div>' +
                        '</a>' +
                    '</table>' +
                    '<img src="'+pict.image+'">' +
                    '</div>';
        return html;
    },

    showPage: function( pageId )
    {
        var self = this;
        self.pageId = pageId;

        var offs = mainWorksWidget.workWidth * (pageId - 1);
        self.worksCont.css({'left':'-'+offs+'px'});
    },

    moveToPage: function( pageId )
    {
        var self = this;
        if (self.pageId == pageId)
            return;
        var delta = pageId - self.pageId;
        self.pageId = pageId;
        if (delta > 0)
        {
            // to next
            delta *= mainWorksWidget.workWidth;
            self.worksCont.animate({left:'-='+delta});
        }
        else
        {
            // to prev
            delta *= -mainWorksWidget.workWidth;
            self.worksCont.animate({left:'+='+delta});
        }
    },

    onLeft: function(ev)
    {
        if (mainWorksWidget.pageId <= 1)
            return;
        mainWorksWidget.moveToPage( mainWorksWidget.pageId-1 );
    },

    onRight: function(ev)
    {
        if (mainWorksWidget.pageId >= mainWorksWidget.maxPages)
            return;
        mainWorksWidget.moveToPage( mainWorksWidget.pageId+1 );
    },

    onLeftEnter: function(ev)
    {
    },

    onRightEnter: function(ev)
    {
    },

    onLeave: function(ev)
    {
    },
};


$(document).ready( function()
{
    mainWorksWidget.init();
    mainWorksWidget.showPage( {{ currPage }} );
});
</script>

<div class='main-works-widget'>
    <div id='js-main-works-left-arrow' class="main-works-left-arrow border-cont">
        <div class='border-l' style='background:#d9d9d9;'></div>
        <div class='border-t' style='background:#d9d9d9;'></div>
        <div class='border-b' style='background:#d9d9d9;'></div>
    </div>
    <div id='js-main-works-cont-pos' class='main-works-cont-pos'>
        <div id='js-main-works-cont' class='main-works-cont'></div>
    </div>
    <div id='js-main-works-right-arrow' class="main-works-right-arrow border-cont">
        <div class='border-r' style='background:#d9d9d9;'></div>
        <div class='border-t' style='background:#d9d9d9;'></div>
        <div class='border-b' style='background:#d9d9d9;'></div>
    </div>
</div>