{% block importBlock %}
    {{ import('css','menu.css') }}
    {{ import('css','pageStructureMenu.css','ext.widgets.css') }}
{% endblock %}

<div class='page-structure-menu-widget  hmenu'>
    <ul>
        {% for item in items %}
            {% set active = item.select %}
            {% set posClass = (loop.first ? 'first' : '') ~ (loop.last ? ' last' : '') %}
            {% set blank = item.blank ? 'target="_blank"' : '' %}
            <li class='{{posClass}}'>
                <a class='{% if active %}active{% endif %}' href='{{ item.link }}' {{blank}}>{{ item.name|raw }}</a>
            </li>
        {% endfor %}
    </ul>
</div>



