{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','base.css', 'application.modules.news.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class='news-page'>
    <div class='col1'>
        {% block newsBack %}{% endblock %}
    </div>
    <div class='col2'>
        <div class='title'>
            Новости
        </div>
    </div>
    <div class='col3'>
        <div class='filter cont'>
            <div class='inner'>
            {% for y in years %}
                <div class='item  {% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %}'>
                    {% if y['year'] == year %}
                        {{y['year']}}
                    {% else %}
                        {% if y['year'] == lastYear %}
                            {% set link = static('CHtml', 'normalizeUrl', [{'0':'/news/news/index'}]) %}
                        {% else %}
                            {% set link = static('CHtml', 'normalizeUrl', [{'0':'/news/news/index','year':y['year']}]) %}
                        {% endif %}
                        <a href='{{link}}'>{{y['year']}}</a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <table border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td class='col1'>
            {% block newsLeftCol %}
            {% endblock %}
        </td>
        <td class='col2-3'>
            {% block newsContent %}{% endblock %}
        </td>
    </tr>
    </table>

</div>
{% endblock %}
