{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','base.css', 'application.modules.news.css') }}
{% endblock %}

{% block content %}
<div id='js-news-list-page-content' class='news-list-page-content  grid-bottom5'>
    <div id='js-news-list-page-content-pos' class='news-list-page-content-pos'>
        <div class='grid80'>

            <div id='js-news-list-block' class='news-list-block  grid16 left'>
                <div class='grid-left2'>
                    {% for y in years %}
                        <div class='news-list-item  gridHeight1 grid-top1 semibold'>

                                {% if y['year'] == year %}
                                    {{y['year']}}
                                {% else %}
                                    {% if y['year'] == lastYear %}
                                        {% set link = static('CHtml', 'normalizeUrl', [{'0':'/news/news/index'}]) %}
                                    {% else %}
                                        {% set link = static('CHtml', 'normalizeUrl', [{'0':'/news/news/index','year':y['year']}]) %}
                                    {% endif %}
                                    <a href='{{link}}'>{{y['year']}}</a>
                                {% endif %}

                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id='js-news-block' class='news-block  grid48 left'>
                <div class='grid-left2 grid-right2'>

                    {% block newsContent %}{% endblock %}

                </div>
            </div>

            <div id='js-news-right-block1' class='news-right-block1  grid8 left'>
            </div>

            <div id='js-news-right-block2' class='news-right-block2  grid8 left'>
            </div>

        </div>

        <div id='js-news-bottom-block' class='grid80'>
            {% block newsBottomBlock %}{% endblock %}
        </div>

    </div>
</div>
<div class='clear'></div>
{% endblock %}