{% extends 'modules/news/views/base.twig' %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
    function backAway()
    {
        // if it was the first page
        if (document.referrer == '')
            window.location = "{{backUrl}}";
        else
            history.back();
    }
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ import('css','show.css', 'application.modules.news.css') }}
{% endblock %}

{% block newsBack %}
    <a href="#" onclick="backAway(); return false;">Back</a>
{% endblock %}

{% block newsLeftCol %}
{% endblock %}

{% block newsContent %}
    <div class='content'>
        <div class='date'>{{ static('DateHelper', 'formatNewsDate', [news.createTime]) }}</div>
        <div class='title'>{{ news.title|raw }}</div>
        <div class='text'>{{ news.desc|raw }}</div>
    </div>
{% endblock %}