{{ import('css','vacancyMenu.css','ext.widgets.company.views') }}
{{ import('css','menu.css') }}

<div class='vacancy-menu-widget  vmenu'>
    <ul>
        {% for vacancy in vacancies %}
            {% set select = vacancy.id == vacancyId %}
            {% set first = loop.first %}
            {% set last = loop.last %}
            {% set link = static('CHtml', 'normalizeUrl', [{'0':'/vacancy/vacancy/show','id':vacancy.id}]) %}
            <li class='vacancy-menu-item-widget  gridHeight1 grid-bottom1 {% if first %}first{% endif %} {% if last %}last{% endif %}'>
                <div class='vacancy-menu-item-inner-widget'>
                    <div class='vacancy-menu-item-arrow  grid2 gridHeight1'  {% if not select %}style='opacity:0.32'{% endif %}>
                        <div class='select'></div>
                    </div>
                    {% if select %}
                        <a class='select' href='{{ link }}'>{{ vacancy.title|raw }}</a>
                    {% else %}
                        <a class='' href='{{ link }}'>{{ vacancy.title|raw }}</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>