<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>
    {% block css %}
        {{ import('css','reset.css') }}
        {{ import('css','client.css') }}
        {{ import('css','main.css') }}
    {% endblock %}
    {% block js %}
        {{ import('js','jquery-2.0.0.js') }}
    {% endblock %}
</head>
<body>
{# { widget('zii.widgets.CMenu', {
    'items':[
        {'label':'Главная', 'url':['/site/index']},
        {'label':'Войти', 'url':['/site/login'], 'visible':App.user.isGuest},
        {'label':'Админ', 'url':['/admin/admin/index'], 'visible':App.user.checkAccess('adminActions')},
        {'label':'Выйти ('~App.user.name~')', 'url':['/site/logout'], 'visible':not App.user.isGuest}
    ],
}) } #}

<div id='head-wrap'>
    <div id='head'>
        <div id='menu-block'>
            {{ widget('ext.widgets.MainMenuWidget') }}
        </div>
        <div id='logo-block'>
            <img src='/img/logo.png'>
        </div>
        <div id='social-block'>
            {{ widget('ext.widgets.SocialButtonsWidget') }}
        </div>
        <div id='contacts-block'>
            <a class='mail' href=''>info@sphereart.ru</a>
            <div class='phone semibold'>+7 961 763 07 99</div>
        </div>
    </div>
</div>

<div id='body-wrap'>
    <div id='body'>
        {% block content %}{% endblock %}
    </div>
</div>
<div id='body-wrap2'>
    <div id='body2'>
        {% block content2 %}{% endblock %}
    </div>
</div>

<div id='footer-wrap'>
    <div id='footer'>
        <div id='copyright' class='semibold'>2013 <span id='copyright-color'>SPHERE</span>ART</div>
    </div>
</div>
</body>
</html>