<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>

    {% block css %}
        {{ import('css','bootstrap.css') }}             {# Bootstrap core CSS #}
        {{ import('css','custom.css') }}
    {% endblock %}

    {% block js %}
        {{ import('js', 'jquery-1.10.2.js') }}
        {{ import('js', 'bootstrap.js') }}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
