<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>

    {% block css %}
        {{ import('css','bootstrap.css') }}             {# Bootstrap core CSS #}
        {{ import('css','custom.css') }}
    {% endblock %}

    {% block js %}
        {{ import('js', 'jquery-1.10.2.js') }}
        {{ import('js', 'bootstrap.js') }}
    {% endblock %}
</head>
<body>

    {% block bg %}
    {% endblock %}

    <div class='page'>
        <div class='wrap'>
            <div class='common-container'>

                <div class='head'>
                    {% block header %}
                    
                        <div class='col1'>
                            <div class='logo-block'>
                                <a href='/'><img src='/img/logo.png' width="141" height="60"></a>
                            </div>
                        </div>
                        <div class='col2-3'>
                            <div class='menu-block'>
                                {{ widget('ext.widgets.MainMenuSecondWidget') }}
                                <div class='clearfix'></div>
                                {{ widget('ext.widgets.MainMenuWidget') }}
                            </div>
                        </div>
                    
                    {% endblock %}
                </div>

                <div class='body'>
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>

    <div class='footer-wrapper common-container footer'>
        {% block footer %}

            <div class='separate-line'></div>
            <div class='col1 copyright'>
                &copy; 2010-2014 Про-Бизнес-Парк
            </div>
            <div class='col2 author'>
                Сделано в студии <a href='#' class='studio'>Redsphere</a><br/>
                <a href='#'>Информация о сайте</a>
            </div>
            <div class='col3 contact'>
                <a href='#'>Контактная информация</a>
            </div>

        {% endblock %}
    </div>

</body>
</html>
