<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <link rel="canonical" href="{{ this.canonicalUrl }}">

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>

    {% block css %}
        {{ import('css','fonts.css') }}
        {{ import('css','bootstrap.css') }}             {# Bootstrap core CSS #}
        {{ import('css','custom.css') }}
    {% endblock %}

    {% block js %}
        {{ import('js', 'jquery-1.11.1.min.js') }}
        {{ import('js', 'bootstrap.js') }}
    {% endblock %}
</head>
<body {% block bodyAttr %}{% endblock %}>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54X9SK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54X9SK');</script>
    <!-- End Google Tag Manager -->

    {% block bg %}
    {% endblock %}

    <div class='page'>
        <div class='wrap'>
            <div class='common-container'>

                <div class='head'>
                    {% block header %}
                    
                        <div class='col1'>
                            <div class='logo-block'>
                                <a href='/'><img src='/img/logo.png' width="143" height="51"></a>
                            </div>
                        </div>
                        <div class='col2-3'>
                            <div class='menu-block'>
                                {{ widget('ext.widgets.MainMenuSecondWidget') }}
                                <div class='clearfix'></div>
                                {{ widget('ext.widgets.MainMenuWidget') }}
                            </div>
                        </div>
                    
                    {% endblock %}
                </div>

                <div class='body'>
                    {% block content %}
                    {% endblock %}
                </div>

            </div>

            {% block afterbody %}
            {% endblock %}
        </div>
    </div>

    <div class='common-container footer'>
        {% block footer %}

            <div class='footer-inner'>
                <div class='separate-line'></div>
                <div class='col1  cont'>
                    <a class='home-icon' href='/'></a>
                </div>
                <div class='col2  cont'>
                    <div class='copyright'>
                        &copy; 2010-2014 ПРО-БИЗНЕС-ПАРК<br/>
                        <a href='{{ static('CHtml', 'normalizeUrl', ['/contact-info']) }}'>Контактная информация</a>
                    </div>
                    <div class='social'>
                        <a class='facebook-icon' href='https://www.facebook.com/proBpark' target='_blank'></a>
                    </div>
                </div>
                <div class='col3 author'>
                    <div class='logo'></div>
                    <div class='text'>
                        Сделано в <a href='#'><span class='studio'>Red</span>sphere</a><br/>
                    </div>
                    <div class='menu-block'>
                        {# { widget('ext.widgets.FooterMenuWidget') } #}
                    </div>
                </div>

            </div>

        {% endblock %}
    </div>

</body>
</html>
