{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}


{% block js %}
    {{ parent() }}
{% endblock %}


{% block header %}
    <div class='col-1'>
        <div class='logo-block'>
            <a href='/'><img src='/img/logo.png' width="141" height="60"></a>
        </div>
    </div>
    <div class='col-2-3'>
        {{ widget('ext.widgets.MainMenuSecondWidget') }}
        <div class='clearfix'></div>
        {{ widget('ext.widgets.MainMenuWidget') }}
    </div>
{% endblock %}


{% block content %}
    <div class='col-1'>
        {{ widget('ext.widgets.mainPage.SquareWidget') }}
        <div class='clearfix'></div>
        {{ widget('ext.widgets.mainPage.ServicesWidget') }}
        <div class='clearfix'></div>
        {{ widget('ext.widgets.mainPage.WorkLineWidget') }}
    </div>
    <div class='col-2-3'>
        {{ widget('ext.widgets.mainPage.TitleWidget') }}
        <div class='col-2'>
        </div>
        <div class='col-3'>
            {{ widget('ext.widgets.mainPage.DepartmentOfLandSalesWidget') }}
            <div class='clearfix'></div>
            {{ widget('ext.widgets.mainPage.AboutProjectWidget') }}
        </div>
        {{ widget('ext.widgets.mainPage.EngineeringInfrastructureWidget') }}
        <div class='clearfix'></div>
        {{ widget('ext.widgets.mainPage.NewsLentaWidget') }}
    </div>
{% endblock %}


{% block footer %}
    <div class='col-1'>
        &copy; 2010-2014 Про-Бизнес-Парк
    </div>
    <div class='col-2'>
        Сделано в студии <a href='#'>Redsphere</a><br/>
        <a href='#'>Информация о сайте</a>
    </div>
    <div class='col-3'>
        <a href='#'>Контактная информация</a>
    </div>
{% endblock %}
