{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','mainPage.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript">
    mainPageContent =
    {
        posCont: false,

        init: function()
        {
            var self = this;
            self.posCont = $('#js-main-page-content-pos');
            app.addListener(app.eventReposition, mainPageContent.onResize);
            app.resize(true);
        },
        onResize: function( ev )
        {
            var ceils = ev.ceils;
            app.resizeElement( mainPageContent.posCont, ceils * app.gridWidth );
        },
    };
    $(document).ready( function()
    {
        mainPageContent.init();
    });
    </script>
{% endblock %}

{% block content %}
    <div class='main-page-content'>
        <div id='js-main-page-content-pos' class='main-page-content-pos'>

            <div class='main-page-block1  grid80'>
                {{ widget('ext.widgets.projects.ProjectsOnMainWidget') }}
            </div>

            <div class='main-page-block2  grid80 grid-top1'>
                {{ widget('ext.widgets.NewsLentaWidget') }}
            </div>

            <div class='main-page-block3  grid80 gridHeight16 grid-top2 grid-bottom1'>

                <div class='main-page-block3_1  grid16 gridHeight16 left'>
                    <div class='main-page-faq-widget  grid16 gridHeight6'>
                        <div class='grid-left2 grid-right2'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position':const('ContentBlocks', 'POS_MAIN_LEFT')}) }}
                        </div>
                    </div>
                    <div class='main-page-we-did-widget  grid16 gridHeight8 grid-top1 grid-bottom1'>
                        <div class='grid-left2 grid-right2'>
                            {{ widget('ext.widgets.WeDidItWidget') }}
                        </div>
                    </div>
                </div>

                <div class='main-page-block3_2  grid32 gridHeight16 left'>
                    <div class='main-page-info-widget  grid32 gridHeight6'>
                        <div class='grid-left2 grid-right2'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position':const('ContentBlocks', 'POS_MAIN_CENTER')}) }}
                        </div>
                    </div>
                    <div class='main-page-own-projects-widget  grid32 gridHeight8 grid-top1 grid-bottom1'>
                        <div class='grid-left2 grid-right2'>
                            {{ widget('ext.widgets.ProjectsOwnWidget') }}
                        </div>
                    </div>
                </div>

                <div class='main-page-block3_3  grid32 left'>
                    <div class='main-page-promo-widget  grid32 gridHeight16'>
                        {{ widget('ext.widgets.PromoWidget') }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}