{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','jquery-ui.css') }}
    {{ import('css', 'map.css') }}
{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
    {{ import('js','snap.svg.js') }}
    {{ import('js','jquery-ui.js') }}
    {{ import('js','map.js') }}

    <script type="text/javascript">
        $(document).ready( function()
        {
            $( "#js-filter" ).accordion({
                collapsible: true
            });

//            function runEffect()
//            {
//                $("#js-filter").show('drop', {});
//            };
//            runEffect();

        });
    </script>
{% endblock %}


{% block bodyAttr %}
    {# Запрещаем выделение, чтобы при таскании карты ничего лишнего не происходило #}
    onselectstart="return false"
{% endblock %}

{% block content %}
<div class='map-page'>
    <div class='col1'></div>
    <div class='col2-3'>
        <div class='title'>
            Генеральный <lightgrey>план</lightgrey>
        </div>
        <!--div id='debug' style='width:500px; height:100px; display:none;'>
        </div>
        <div id='debug2' style='width:500px; height:100px; display:none;'>
        </div-->
    </div>
</div>
{% endblock %}

{% block afterbody %}

    <div id='js-map-container' class='map-container'>

        <div id='js-filter' class="filter">
            <div class='header'>
                Фильтр
            </div>
            <div class='window'>
                <div class='status-title'>
                    Статус участка
                </div>
                <div class='status-text'>
                    <ul>
                        <li>
                            <input type="checkbox" id="check-reserved">
                            <label for="check-reserved"><span></span>Занят</label>
                        </li>
                        <li>
                            <input type="checkbox" id="check-free">
                            <label for="check-free"><span></span>Свободен</label></li>
                    </ul>
                </div>
                <div class='structure-title'>
                    Инженерная инфраструктура
                </div>
                <div class='structure-text'>
                    <ul>
                        <li><input type="checkbox" id="check-f1"><label for="check-f1"><span></span>Электроснабжение</label></li>
                        <li><input type="checkbox" id="check-f2"><label for="check-f2"><span></span>Газоснабжение</label></li>
                        <li><input type="checkbox" id="check-f3"><label for="check-f3"><span></span>Водоснабжение</label></li>
                        <li><input type="checkbox" id="check-f4"><label for="check-f4"><span></span>Водоотведение</label></li>
                        <li><input type="checkbox" id="check-f5"><label for="check-f5"><span></span>Ливневая канализация</label></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id='js-info-window' class='info-window'>
            <div class='inner'>
                <div class='close-btn'></div>
                <div class='header'>
                    Участок № <div class='number' id='js-cadastral-number'></div>
                </div>
                <div class='window free'>
                    <div class='item'>
                        Статус: <div class='text' id='js-info-status'></div>
                    </div>
                    <div class='item'>
                        Площадь: <div class='text' id='js-info-square'></div>
                    </div>
                    <div class='item last'>
                        Размеры: <div class='text' id='js-info-size'></div>
                    </div>                    
                </div>
                <div class='window busy'>
                    <div class='item'>
                        Статус: <div class='text' id='js-info-status'></div>
                    </div>
                    <div class='item last'>
                        Резидент: <div class='text' id='js-info-resident'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='map'>
        </div>
    </div>

    <script type="text/javascript">
        var areas = {
{% for area in areas %}
            '{{area.cadastral}}': {
                'busy': {{area.busy}},
                'square': '{{area.square}}',
                'size': '{{area.width}} x {{area.height}}',
                'resident': '{{area.resident}}'
            }{% if not loop.last %},{% endif %}

{% endfor %}
        };

        $('.map').load("/img/map/map.svg", function (response, status, xhr)
        {
            var svgobject = document.getElementsByTagName('svg')[0];

            map.init(svgobject);

            // Выправление координат после ресайза
            $(window).on('resize', function(ev) {
                map.resize();
            });
            map.resize();


            var snap = map.snap;

            // Выделения полигона
            var polyId = 0;

            mc.on('tap', function(e) {
                var id = $(e.target).attr('id');

                var regStr = /^area_/i;
                if (regStr.exec(id)) {
                    if (id != polyId) {
                        map.removePolygon();
                        map.createPolygon($(e.target));
                        polyId = id;
                    }

                    var cadastralNumber = /\d+$/i.exec(id);
                    $('#js-cadastral-number').text( cadastralNumber[0] );

                    if (areas[cadastralNumber] != undefined) {
                        var area = areas[cadastralNumber];
                        if (area.busy) {
                            $('.window.busy').show();
                            $('.window.free').hide();

                            $('.window.busy #js-info-status').text('занят');
                            $('#js-info-resident').text( area.resident );
                        } else {
                            $('.window.busy').hide();
                            $('.window.free').show();

                            $('.window.free #js-info-status').text('свободен');
                            $('#js-info-square').text( area.square + ' га' );
                            $('#js-info-size').text( area.size );
                        }
                    } else {
                        $('.window.busy').hide();
                        $('.window.free').show();

                        $('.window.free #js-info-status').text('');
                        $('.window.busy #js-info-status').text('');
                        $('#js-info-square').text('');
                        $('#js-info-size').text('');
                        $('#js-info-resident').text('');
                    }

                    var x = e.srcEvent.offsetX;
                    var y = e.srcEvent.offsetY;

                    var wnd = $('#js-info-window');
                    var wndW = wnd.width();
                    var wndH = wnd.height();
                    
                    var mapWnd = $('.map');
                    var mapW = mapWnd.width();
                    var mapH = mapWnd.height();

                    // Отступы от края карты
                    var padding = 11;

                    // Не даем окну вылезти за пределы карты
                    if (x < padding)                x = padding;
                    if (x + wndW + padding > mapW)  x = mapW - wndW - padding;
                    if (y < wndH + padding)         y = wndH + padding;
                    if (y > mapH - padding)         y = mapH - padding;

                    // Позиционируемся в левый нижний угол
                    y -= wndH;

                    wnd.css({
                        'left': x+'px',
                        'top': y+'px'
                    });
                    wnd.show();
                }
            });

            $('[id^="area_"]').mouseover( function() {
                map.removePolygon();
                var poly = map.createPolygon($(this));
                poly.mouseout( function() {
                    map.removePolygon();
                });
            });

            // Отключаем нажатие на участках
            $(svgobject).find('[id^="objects_"]').css({'pointer-events':'none'});

            // Окно информации
            $('.close-btn').click( function(ev) {
                $('#js-info-window').hide();
            });

            // Подсветка всех занятых участков
            for (var prop in areas) {
                if (areas.hasOwnProperty(prop)) {
                    var area = areas[prop];
                    if (area.busy) {
                        map.createBusyPolygon($('[id$="_' + prop + '"]'));
                    }
                } 
            };
        });
    </script>
{% endblock %}
