<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->

    <title>{{ this.pageTitle }}</title>

    {# { import('css','jquery-ui.css') } #}
    {{ import('css','fonts.css') }}
    {{ import('css','bootstrap.css') }}             {# Bootstrap core CSS #}
    {{ import('css', 'panorama.css') }}

    {{ import('js', 'p2q_embed_object.js') }}
    {{ import('js', 'jquery-1.11.1.min.js') }}
    {{ import('js', 'bowser.min.js') }}
    {{ import('js', 'bootstrap.js') }}
    {{ import('js', 'panorama.js') }}

    <script type="text/javascript">
        $(document).ready( function() {
            var arr = {};
            {% for pan in panorams %}
                if (arr['{{pan.createDate}}'] == undefined)
                    arr['{{pan.createDate}}'] = [];
                arr['{{pan.createDate}}'].push({
                    'swf': '{{pan.swf}}',
                    'mov': '{{pan.mov}}'
                });
            {% endfor %}
            panorama.init(arr);
        });

        var hasQuick = (bowser.safari || bowser.iphone) ? true : false;
    </script>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54X9SK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54X9SK');</script>
    <!-- End Google Tag Manager -->

    <div class='page'>

        <div class='header'>
            <div class='navigation'>
                <div class='back'>
                    <a href="{{ static('Yii', 'app').createAbsoluteUrl('/') }}"></a>
                </div>
                <div class='separator'></div>
                <div class='date'>

                    <div class="dropdown">
                        <button id="js-date-value" class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class='value'></span>
                            <span class="caret"></span>
                        </button>
                        <ul id='js-date-items' class="dropdown-menu" role="menu" aria-labelledby="js-date-value">
                            {% for arr in dates %}
                                <li data-id='{{arr["createDate"]}}'><a role="menuitem" tabindex="-1" href="#" onclick='return false;'>{{ static('DateHelper', 'formatPanoramsDate', [arr["createDate"]]) }}</a></option>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div class='views' id='js-views'></div>
            </div>
            <div class='logo'>
                <a href='/'><img src='/img/logo.png' width="143" height="51"></a>
            </div>
        </div>

        <div class='panorams' id='js-panorams'>

            {% for pan in panorams %}

                <div class='panorama' data-id='{{pan.swf}}'>
                <script type='text/javascript'>
                    if ((window.p2q_Version) && (window.p2q_Version>=2.0)) {

                        {% if pan.mov %}
                            if (hasQuick) {
                                p2q_EmbedQuicktime('/panorama/{{pan.mov}}.mov','100%','100%','bgcolor','#ffffff','scale','tofit','controller','true');
                            } else {
                        {% else %}
                            {
                        {% endif %}

                                var flashvars='';
                                p2q_EmbedFlash('/panorama/{{pan.swf}}.swf','100%','100%','allowFullScreen','true','FlashVars',flashvars);
                                if (!DetectFlashVer(9,0,0)) {
                                    document.write('<p class="warning">This content requires Adobe Flash Player Version 9 or higher. <a href="http://www.adobe.com/go/getflash/">Get Flash<\/a><\/p>');
                                }
                            }
                    } else {
                        document.writeln('<p class="warning">p2q_embed_object.js is not included or it is too old! Please copy this file into your html directory.<\/p>');
                    }
                </script>
                <noscript>
                    <p class='warning'>Please enable Javascript!</p>
                </noscript>
                </div>

            {% endfor %}

        </div>
    </div>

</body>
</html>
