<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--meta content='True' name='HandheldFriendly'-->
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi"/-->
    <!--meta content="Dynamic" name="document-state"-->
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>

    {{ import('css','fonts.css') }}
    {{ import('css','bootstrap.css') }}             {# Bootstrap core CSS #}
    
    {{ import('js', 'jquery-1.10.2.js') }}
    {{ import('js', 'bootstrap.js') }}
</head>
<body>

<script type="text/javascript">
    alert(window.navigator.userAgent);
</script>

    <div style='border:1px solid #000; width: 800px; height: 600px;'>CONTENT</div>

</body>
</html>
