{% extends 'modules/company/views/base.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','index.css', 'application.modules.vacancy.views') }}
{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript">
    vacancyListContent =
    {
        posCont: false,
        centerBlockWidth: 0,
        rightColumnWidth: 0,
        textBlockWidth: 0,

        init: function()
        {
            var self = this;
            self.posCont = $('#js-company-page-content-pos');
            self.centerBlockWidth = $('#js-vacancy-block').width();
            self.rightColumnWidth = $('#js-vacancy-right-block').width();
            self.textBlockWidth = $('#js-vacancy-block-text').width();

            app.addListener(app.eventReposition, vacancyListContent.onResize);
            app.resize(true);
        },
        onResize: function( ev )
        {
            var ceils = ev.ceils;

            var cont = $('#js-company-page-content');
            var leftBlock = $('#js-company-page-menu');
            var centerBlock = $('#js-vacancy-block');
            var rightBlock = $('#js-vacancy-right-block');
            var textBlock = $('#js-vacancy-block-text');

            var innerHeight = $('#js-company-page-inner').height();

            // Принудительно выставляем высоту блока
            var h = (leftBlock.height() > innerHeight)
                ? leftBlock.height()
                : innerHeight;
            h = Math.ceil(h);
            cont.height(h);

            cbWidth = vacancyListContent.centerBlockWidth;
            rbWidth = vacancyListContent.rightColumnWidth;
            tbWidth = vacancyListContent.textBlockWidth;

            if (ceils == 3)
            {
                centerBlock.width(cbWidth - 2 * vacancyListContent.rightColumnWidth);
                app.resizeElement( rightBlock, 0, true );
                app.resizeElement( textBlock, tbWidth - vacancyListContent.rightColumnWidth, true );
            }
            else if (ceils == 4)
            {
                centerBlock.width(cbWidth - vacancyListContent.rightColumnWidth);
                app.resizeElement( rightBlock, 0, true );
                app.resizeElement( textBlock, tbWidth, true );
            }
            else if (ceils == 5)
            {
                centerBlock.width(cbWidth);
                app.resizeElement( rightBlock, rbWidth, true );
                app.resizeElement( textBlock, tbWidth, true );
            }

            app.resizeElement( vacancyListContent.posCont, ceils * app.gridWidth );
        },
    };
    $(document).ready( function()
    {
        vacancyListContent.init();
    });
    </script>
{% endblock %}


{% block innerContent %}
    <div id='js-vacancy-block' class='vacancy-block  grid64'>
        <div class='vacancy-block-title  grid-bottom2 grid-left2 grid-right2 titleColor'>Мы ищем лучших</div>
        <div class='vacancy-block-list  clear'>
            {% for vacancy in vacancies %}
                {% set link = static('CHtml', 'normalizeUrl', [{'0':'/vacancy/vacancy/show','id':vacancy.id}]) %}
                <div class='vacancy-item  gridHeight15 left'>
                    <div class='grid-left2 grid-right2'>

                        <div class='vacancy-item-image  grid-right1 grid-bottom0_5'>
                            <img src='{{ vacancy.getImageUrl() }}' width='{{const("Vacancy","IMAGE_WIDTH")}}' height='{{const("Vacancy","IMAGE_HEIGHT")}}'>
                        </div>
                        <div class='vacancy-item-title  text15 gridHeight1'>
                            <a href='{{ link }}'>{{ vacancy.title|raw }}</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <div id='js-vacancy-block-text' class='vacancy-block-text  text15 grid48 left'>
                <div class='grid-left2 grid-right2'>
                    {{ widget('ext.widgets.ContentBlocksWidget', {'position':const('ContentBlocks', 'POS_VACANCY_MAIN_TEXT')}) }}
                </div>
            </div>
            <div id='js-vacancy-right-block' class='vacancy-right-block  grid16 left'>
            </div>
    </div>
{% endblock %}