{{ import('css','newsLenta.css','ext.widgets.mainPage.css') }}

<script type="text/javascript">
    $(document).ready( function()
    {
        $('.news-lenta-item').click( function()
        {
            window.location.href = $(this).attr('href');
        });
    });
</script>

<div class='news-lenta-widget'>
    <div class='link'><a href='{{ static('CHtml', 'normalizeUrl', ['/news']) }}'>Смотреть все новости</a></div>

    <div class='items'>
        <div class='item1'>
            <div class='text'>
                <a href='{{ news[0].link }}'>{{ news[0].text|raw }}</a>
            </div>
        </div>
        <div class='item2'>
            <div class='text'>
                <a href='{{ news[1].link }}'>{{ news[1].text|raw }}</a>
            </div>
        </div>
    </div>
</div>