{{ import('css','square.css','ext.widgets.mainPage.css') }}

<div class='square-widget'>
    <div class='summary'>
        <invert>{{totalSquare}} га</invert>
    </div>
    <div class='text'>
        Продаются участки
        <br/>
        в г.&nbsp;Екатеринбург,
        <br/>
        Чкаловский район
    </div>
    
    <div class='sold-btn'>
        <a href="{{ static('CHtml', 'normalizeUrl', ['/map']) }}">
            СМОТРЕТЬ УЧАСТКИ
        </a>
    </div>

    <div class='sold'>
        <a href="{{ static('CHtml', 'normalizeUrl', ['/map/busy']) }}">осталось <div class='number'>{{freeSquare}}</div> га</a>
    </div>
    <div class='sales'>
        продано <div class='number'>{{busySquare}}</div> га
    </div>
</div>