{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','index.css', 'application.modules.projects.views') }}
{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript">
    projectsListPageContent =
    {
        posCont: false,

        init: function()
        {
            var self = this;
            self.posCont = $('#js-projects-list-page-content-pos');
            app.addListener(app.eventReposition, projectsListPageContent.onResize);
            app.resize(true);
        },
        onResize: function( ev )
        {
            var ceils = ev.ceils;

            // Принудительно выставляем высоту блока
            var cont = $('#js-projects-list-page-content');
            var menu = $('#js-projects-menu-block');
            var list = $('#js-projects-list-block');
            var projectItemHeight = $('#js-projects-list-block .project-item').height();
            var projectsCount = {{ projects|length }};
            cont.height( Math.ceil(projectsCount/ceils) * projectItemHeight + menu.height() + parseInt(list.css('margin-top')) );

            app.resizeElement( projectsListPageContent.posCont, ceils * app.gridWidth );
        },
    };
    $(document).ready( function()
    {
        projectsListPageContent.init();
    });
    </script>
{% endblock %}

{% block content %}
    <div id='js-projects-list-page-content' class='projects-list-page-content  grid-top-1 grid-bottom3'>
        <div id='js-projects-list-page-content-pos' class='projects-list-page-content-pos'>

            <div id='js-projects-menu-block' class='projects-menu-block'>
                {{ widget('ext.widgets.projects.ProjectsMenuWidget', {'sectionId':sectionId}) }}
            </div>

            <div id='js-projects-list-block' class='projects-list-block  grid-top3'>
                {% for project in projects %}
                    {{ widget('ext.widgets.projects.ProjectItemWidget', {'project':project, showDate:false} ) }}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}