{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','show.css', 'application.modules.projects.views') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ import('js','tabmenu.js') }}

    <script type="text/javascript">
    projectPageContent =
    {
        posCont: false,
        leftColumn: false,
        rightColumn: false,
        leftColumnWidth: 0,
        rightColumnWidth: 0,

        init: function()
        {
            var self = this;
            self.posCont = $('#js-project-page-content-pos');
            self.leftColumn = $('#js-left-column');
            self.rightColumn = $('#js-right-column');
            self.leftColumnWidth = '288';       /* 18px * 16 */
            self.rightColumnWidth = '288';      /* 18px * 16 */
            app.addListener(app.eventReposition, projectPageContent.onResize);
            app.addListener(tabmenu.eventTabSelect, projectPageContent.onTabSelect);
            app.resize(true);

            tabmenu.init();
        },
        onTabSelect: function( ev )
        {
            app.resize();
        },
        onResize: function( ev )
        {
            var ceils = ev.ceils;

            // Принудительно выставляем высоту блока
            var cont = $('#js-project-page-content');
            var menu = $('#js-projects-menu-block');
            var content = $('#js-project-block');
            var persons = $('#js-project-block-persons');
            cont.height(
                menu.height()
                + content.height() + parseInt(content.css('margin-top'))
                + persons.height() + parseInt(persons.css('margin-top')) + parseInt(persons.css('margin-bottom'))
            );
            
            if (ceils == 3)
            {
                app.resizeElement( projectPageContent.leftColumn,  0, true );
                app.resizeElement( projectPageContent.rightColumn, 0, true );
            }
            else if (ceils == 4)
            {
                app.resizeElement( projectPageContent.leftColumn,  projectPageContent.leftColumnWidth/2,  true );
                app.resizeElement( projectPageContent.rightColumn, projectPageContent.rightColumnWidth/2, true );
            }
            else if (ceils == 5)
            {
                app.resizeElement( projectPageContent.leftColumn,  projectPageContent.leftColumnWidth,  true );
                app.resizeElement( projectPageContent.rightColumn, projectPageContent.rightColumnWidth, true );
            }
            app.resizeElement( projectPageContent.posCont, ceils * app.gridWidth );
        },
    };
    $(document).ready( function()
    {
        projectPageContent.init();
    });
    </script>
{% endblock %}

{% block content %}
    <div id='js-project-page-content' class='project-page-content  grid-top-1'>
        <div id='js-project-page-content-pos' class='project-page-content-pos'>

            <div id='js-projects-menu-block' class='projects-menu-block'>
                {{ widget('ext.widgets.projects.ProjectsMenuWidget', {'sectionId':project.sectionId}) }}
            </div>

            <div id='js-project-block' class='project-block  grid-top3'>

                <div class='project-block-title  gridHeight2 titleColor'>
                    {{ project.title|raw }}
                </div>

                <table class='project-block-link  gridHeight2'>
                    <tr>
                        <td class='project-block-link-icon  grid2 gridHeight'>
                            {% set imageUrl = project.linkIconBehavior.getImageUrl() %}
                            {% if imageUrl %}
                                <img src='{{ absLink(project.linkIconBehavior.getImageUrl()) }}' width="16" height="16">
                            {% endif %}
                        </td>
                        <td class='project-block-link-url  gridHeight2'>
                            <a href='{{ project.link }}' target='_blank'><span class='semibold'>{{ project.link }}</span></a>
                        </td>
                    </tr>
                </table>

                <table class='project-block-nav  gridHeight2'>
                    <tr>
                        <td class='project-block-menu'>
                            <div class='grid-left2'>
                                <ul>
                                    <li><a href='#' tab_menu_item='1'>Результат</a></li>
                                    <li><a href='#' tab_menu_item='2'>Процесс</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class='project-block-publish-time'>
                            {% if project.publishTime %}
                                Дата выпуска: {{ project.publishTime }}
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td id='js-left-column' class='project-block-left-column  grid16'></td>
                        <td class='project-block-content  grid48'>
                            <table class='project-block-goal  gridHeight2 grid-bottom2 grid-top1'>
                                <tr>
                                    <td class='grid2'></td>
                                    <td><span class='project-block-goal-title  semibold'>Задача:</span> {{ project.goal|raw }}</td>
                                    <td class='grid2'></td>
                                </tr>
                            </table>
                            <div tab_menu_page='1' class='project-block-result' style='display:none'>
                                {{ project.resultText|raw }}
                            </div>
                            <div tab_menu_page='2' class='project-block-process' style='display:none'>
                                {{ project.processText|raw }}
                            </div>
                        </td>
                        <td id='js-right-column' class='project-block-right-column  grid16'></td>
                    </tr>
                </table>
            </div>

            <div id='js-project-block-persons' class='project-block-persons  grid-top3 grid-bottom1'>
                {% if project.persons and project.persons|length > 0 %}
                    <div class='gridHeight1 grid-left2 grid-right2 grid-bottom2'>
                        {% if project.persons|length > 1 %}
                            Над проектом работали:
                        {% else %}
                            Над проектом работал:
                        {% endif %}
                    </div> 
                    {% for person in project.persons %}
                        <div class='project-block-person-item  grid16 grid-bottom3 left'>
                            <div class='grid-left2'>
                                <div class='project-block-person-image  grid-right1 left'>
                                    <img src='{{ person.getPhotoUrl() }}' width='{{const("Persons","IMAGE_WIDTH")}}' height='{{const("Persons","IMAGE_HEIGHT")}}'>
                                </div>
                                <div class='grid-right1'>
                                    <div class='project-block-person-name  text15'>
                                        {{ person.name|raw }}
                                    </div>
                                    <div class='project-block-person-position'>
                                        {{ person.position|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}