{{ import('css','promo.css','ext.widgets.views') }}

<div class='promo-widget  gridHeight16'>
    <table>
    <tr>
        <td class='grid16'>
            <div class='grid-left2 grid-right2'>
                <div class='promo-title  text14 titleColor'>{{ promo.title|raw }}</div>
                <div class='promo-motto'>{{ promo.motto|raw }}</div>
            </div>
            <div class='promo-image'><img src='{{ promo.getImageUrl() }}'></div>
        </td>
        <td class='promo-right'>
            <div class='grid-left2 grid-right2'>
                <div class='promo-text'>{{ promo.text|raw }}</div>
            </div>
        </td>
    </tr>
    </table>
</div>

