{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css', 'index.css', 'application.modules.workline.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        var currentStep = -1;
        $(document).ready( function()
        {
            $('[id^="js-step-"]').click(function(ev) {
                stepId = $(this).attr('data-id');
                if (stepId != currentStep) {
                    $('#js-step-'+currentStep).removeClass('active');
                    $('#js-page-'+currentStep).hide();
                    $('.col1 .icon').removeClass('icon'+currentStep);

                    currentStep = stepId;
                    $('#js-step-'+currentStep).addClass('active');
                    $('#js-page-'+currentStep).show();
                    $('.col1 .icon').addClass('icon'+currentStep);
                }
            });

            $('[id^="js-step-"]:first').trigger('click');
        });
    </script>
{% endblock %}


{% block content %}
<div class='workline-page'>
    <div class='col1'></div>
    <div class='col2-3'>
        <div class='title'>
            Резидентам
        </div>
    </div>
    <div class='clearfix'></div>
    
    <div class='steps'>
        {% for step in steps %}
            <div class='item cont' id='js-step-{{loop.index}}' data-id='{{loop.index}}'>
                <div class='hover'></div>
                <div class='step step{{loop.index}}'></div>
                {% if not loop.last %}<div class='separator'></div>{% endif %}
            </div>
        {% endfor %}
        </ul>
    </div>
    
    <div class='clearfix'></div>

    <div class='col1'>
        <div class='icon'>
        </div>
    </div>
    <div class='col2-3'>
        <div class='step-pages'>
            {% for step in steps %}
                <div id='js-page-{{loop.index}}' class='page' style='display:none;'>
                    <div class='innertitle'>
                        {{ step.title }}
                    </div>
                    <div class='text'>
                        {{ step.text|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
