{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','company.css', 'application.modules.company.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block content %}

{% set typeBase = typeStr[const("CompanyService", "TYPE_BASE")] %}
{% set typeAdditional = typeStr[const("CompanyService", "TYPE_ADDITIONAL")] %}

<div class='company-page'>
    <div class='col1'></div>
    <div class='col2-3'>
        <div class='title'>
            <lightgrey>Управляющая</lightgrey> компания
        </div>
    </div>

    <table border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td class='col1-2'>
            <div class='row1'>
                <div class='col1'>
                    <div class='image'>
                        <img src="{{ static('CHtml','normalizeUrl',['/img/company_service_icon.png']) }}">
                    </div>
                </div>
                <div class='col2'>

                    {% if type == typeBase %}
                        <div class='innertitle'>
                            Базовые услуги
                        </div>
                        <div class='text'>
                            В целях обеспечения Резидентов комплексом услуг, УК управляет комплексом инфраструктуры (территорий общего пользования),<br/>в том числе:
                        </div>
                    {% else %}
                        <div class='innertitle'>
                            Дополнительные услуги
                        </div>
                        <div class='text'>
                            По дополнительному запросу резидентов индустриального парка, управляющая компания готова указать следующие услуги:
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class='row2'>
                <div class='col1'>
                    <ul class='menu'>
                        {% if type == typeBase %}
                            <li class='active'>Базовые услуги</li>
                        {% else %}
                            <li><a href='{{ static('CHtml', 'normalizeUrl', ['/company/'~typeBase]) }}'>Базовые услуги</a></li>
                        {% endif %}

                        {% if type == typeAdditional %}
                            <li class='active'>Дополнительные услуги</li>
                        {% else %}
                            <li><a href='{{ static('CHtml', 'normalizeUrl', ['/company/'~typeAdditional]) }}'>Дополнительные услуги</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class='col2'>
                    <ul class='items'>
                    {% for item in items %}
                        <li class='{% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %}'>{{item.text}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </td>
        <td class='col3'>
            <div class='row1'>
            </div>
            <div>
                <div class='contact-block'>
                    <div class='row1'>
                        Контактная информация
                    </div>
                    <div class='row2'>
                        г. Екатеринбург,<br/>
                        ул. Народной Воли, 19а,<br/>
                        офис 709
                    </div>
                    <div class='row3'>
                        +7 343 263-71-71<br/>
                        <a href='mailto:uk@p-b-p.ru'>uk@p-b-p.ru</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </table>
</div>
{% endblock %}
