{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','menu.css') }}
    {{ import('css','index.css', 'application.modules.residents.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class='residents-page'>
    <div class='col1'>
    </div>
    <div class='col2'>
        <div class='title'>
            Резиденты <lightgrey>парка</lightgrey>
        </div>
    </div>
    <div class='col3'>
    </div>

    <table border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td class='col1  vmenu'>
            <ul>
                {% for item in residents %}
                    {% set posClass = (loop.first ? 'first' : '') ~ (loop.last ? ' last' : '') %}
                    <li class='{{posClass}}'>
                        <a class='' href='{{ '#resident'~loop.index }}'>
                            {{ item.name|raw }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </td>
        <td class='col2-3'>

            {% set imageW = const('Residents', 'IMAGE_SMALL_W') %}
            <table border=0 cellpadding="0" cellspacing="0">
                {% for item in residents %}
                    {% set posClass = (loop.first ? 'first' : '') ~ (loop.last ? ' last' : '') %}
                    {% set url = item.getImageUrl() %}

                    <tr class='item {{posClass}}'>
                        <td>
                            <a name="resident{{loop.index}}"></a>
                            {% if url %}
                                <div class='image'>
                                    <img src='{{ item.getImageUrl() }}' style='width:{{imageW}}px' alt='{{ item.name }}'>
                                </div>
                            {% else %}
                                <div class='name'>
                                    {{ item.name }}
                                </div>
                            {% endif %}
                            <div class='textBlock'>
                                <div class='text'>{{ item.desc|raw }}</div>
                                {% if item.phones %}<div class='phones'>Телефон: {{ item.phones }}</div>{% endif %}
                                {% if item.site %}<div class='site'>Сайт: <a href="{{ item.site|externalLink }}" target="_blank">{{ item.site }}</a></div>{% endif %}
                            </div>

                            {% if not loop.last %}
                                <div class='separate'></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>

        </td>
    </tr>
    </table>

</div>
{% endblock %}
