{{ import('css','projectItem.css','ext.widgets.projects.views') }}

{% set link = static('CHtml', 'normalizeUrl', [{'0':'/projects/projects/show','id':project.id}]) %}

<div class='project-item  gridHeight16 grid16 left'>
    <div class='grid-left2'>
        {% if showDate %}
        <div class='project-item-date-cont  gridHeight1 grid-top1'>
            <div class='project-item-date  font-light'>
                {{ project.createTime|date('d.m.Y') }}
            </div>
        </div>
        {% endif %}
        <div class='project-item-image'>
            <a href='{{ link }}'><img src='{{ project.getImageUrl() }}'></a>
        </div>
        <div class='project-item-title  grid12 titleNormal'>{{ project.desc|raw }}</div>
        <!--div class='project-item-desc  grid12'>{{ project.desc|raw }}</div-->
    </div>
</div>
