{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','mainPage.css', 'application.modules.mainPage.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block header %}
    {{ parent() }}
{% endblock %}


{% block bg %}
    <div class='bg-picture'></div>
{% endblock %}


{% block content %}
<div class='main-page'>
    <div class='col1  cont'>
        {{ widget('ext.widgets.mainPage.SquareWidget') }}
        {{ widget('ext.widgets.mainPage.ServicesWidget') }}
        {{ widget('ext.widgets.mainPage.WorkLineWidget') }}
    </div>
    <div class='col2-3'>
        {{ widget('ext.widgets.mainPage.TitleWidget') }}
        <div class='col2'>
        </div>
        <div class='col3'>
            {{ widget('ext.widgets.mainPage.DepartmentOfLandSalesWidget') }}
            <div class='clearfix'></div>
            {{ widget('ext.widgets.mainPage.AboutProjectWidget') }}
        </div>
        <div class='clearfix'></div>
        {{ widget('ext.widgets.mainPage.EngineeringInfrastructureWidget') }}
        <div class='clearfix'></div>
        {{ widget('ext.widgets.mainPage.NewsLentaWidget') }}
    </div>
    <div class='clearfix'></div>
    <div class='bottomGap'></div>
</div>
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}
