{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','mainPage.css', 'application.modules.mainPage.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block header %}
    {{ parent() }}
{% endblock %}


{% block bg %}
    <div class='bg-container'>
        <div class='bg-picture'></div>
    </div>
{% endblock %}


{% block content %}
<div class='main-page'>
    <div class='col1  cont'>
        <div class='col1-block1'>
            {{ widget('ext.widgets.mainPage.SquareWidget') }}
        </div>
        <div class='col1-block2'>
            {# { widget('ext.widgets.mainPage.ServicesWidget') } #}
            {# { widget('ext.widgets.mainPage.WorkLineWidget') } #}
        </div>
        <div class='col1-block3'>
            {{ widget('ext.widgets.mainPage.PanoramaWidget') }}
        </div>
    </div>
    <div class='col2-3'>
        {{ widget('ext.widgets.mainPage.TitleWidget') }}
        <div class='col2'>
        </div>
        <div class='col3'>
            {#
            {{ widget('ext.widgets.mainPage.SloganWidget') }}
            <div class='clearfix'></div>
            #}
            {{ widget('ext.widgets.mainPage.AboutProjectWidget') }}
        </div>
    </div>

    <div class='clearfix'></div>

    <div class='col1'>
        {{ widget('ext.widgets.LeftMenuWidget', {'menuId':const('Menu','LEFT_MENU_MAIN')}) }}
    </div>
    <div class='col2-3'>
        <div class='col2'>
        </div>
        <div class='col3'>
            <div class='padding-block'>
                <div class='separator'></div>
            </div>
        </div>

        {{ widget('ext.widgets.mainPage.EngineeringInfrastructureWidget') }}

        <div class='clearfix'></div>
        <div class='padding-block'>
            <div class='separator'></div>
        </div>

        {{ widget('ext.widgets.mainPage.NewsLentaWidget') }}
    </div>

    <div class='clearfix'></div>
    <div class='bottomGap'></div>


    <div class='col1'>
    </div>
    <div class='col2-3'>
        {{ widget('ext.widgets.mainPage.FooterMainPageWidget') }}
    </div>
    <div class='clearfix'></div>
</div>
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}
